$cl_white:        #FFF;
$cl_black:        #222;
$cl_link:         #069;
$cl_link_hover:   #066;

$cl_prefix_false:  #CF9;
$cl_prefix_true: #DDF7FF;

@mixin linear-gradient($from, $to) {
	background-image: -webkit-linear-gradient(top,       $from 0%, $to 100%);
	background-image:    -moz-linear-gradient(top,       $from 0%, $to 100%);
	background-image:      -o-linear-gradient(top,       $from 0%, $to 100%);
	background-image:         linear-gradient(to bottom, $from 0%, $to 100%);
}

* {
 	-webkit-box-sizing: border-box;
 	   -moz-box-sizing: border-box; 
 	        box-sizing: border-box; 
 }
 
 html {
	 overflow-y: scroll;
 	-webkit-hyphens: auto;
     -moz-hyphens: auto;
	    -ms-hyphens: auto;
	     -o-hyphens: auto;
	        hyphens: auto;
 
	/* http://necolas.github.com/normalize.css/2.0.1/normalize.css */
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;

	background: darken($cl_white,5%) url(../img/shattered.png) repeat 0 0;
	color: $cl_black;
	font-family: Lucida, "Lucida Grande", sans-serif;
	font-size: 100%;
	line-height: 1.5;
}
body {
	background-color: $cl_white;
	max-width: 50em;
	margin: 1em auto;
	padding: 2em 3em;
	border-radius: .125em;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3)
}
img { 
	border: 0; 
	-ms-interpolation-mode: bicubic; /* Better IMG resizing in IE */
}

a { 
	color: $cl_link; 
	img { border: none; }
	&:hover, 
	&:focus, 
	&:active {
		color: $cl_link_hover;
		text-decoration: none;
	}
}
.lastmod {
	font-size: .75em;
	text-align: right;
	color: lighten($cl_black,30%);
	a { color: inherit; }
}
.prefixme {
	color: #666;
	font-style: normal;
	&:before,
	&:after {
		content: "-";
	}
}
.search-features {
	margin: 2em 0 1em 0;
	text-align: center;
}

.filter {
	display: inline-block;
	background-color: $cl_link;
	@include linear-gradient($cl_link, lighten($cl_link,10%));
	color: $cl_white;
	font-size: .75em;
	text-decoration: none;
	margin: .5em;
	padding: .25em 1em;
	border: 1px solid $cl_link;
	border-radius: .25em;

	&:hover,
	&:focus,
	&:active,
	&.is-active {
		background-color: lighten($cl_black,50%);
		@include linear-gradient(lighten($cl_black,50%), lighten($cl_black,70%));
		color: $cl_black;
		border: 1px solid lighten($cl_black,30%);
	}
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 1.5em;
	margin: 0 0 .5em 0;
}
h1 {
	font-size: 2em;
	font-weight: bold;
}
p { margin: 0 0 1em 0; }
:last-child { margin-bottom: 0; }


.search {
	display: inline-block;
	font-size: 18px;
	width: 40%;
	padding: .5em 1em;
}

#feature-list .list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.feature {
	border-radius: .25em;
	margin: 0 0 1em 0;
	padding: .5em;
	box-shadow: 0 0 .5em rgba(0,0,0,0.2);

	&.is-collapsed {
		max-height: 3.5em;
		overflow: hidden;

		&:target {
			max-height: 35em;
			overflow: auto;
			border: 2px solid #DDF7FF;
		}
	}
}

.feature__header,
.feature__footer {
	background: darken($cl_white,5%);
	color: $cl_white;
	padding: .5em 1em;
}
.feature__description {
	margin: 1em 0;
}
.feature__header {
	border-radius: .25em;
	text-shadow: 0 1px 0 $cl_white;
	line-height: 1;
	& h2:first-letter {
		text-transform: uppercase;
	}
	&.is-clickable {
		cursor: pointer;
		padding-left: 3em;
		&:before {
			content: "━";
			position: absolute;
			font-size: .75em;
			font-weight: bold;
			color: $cl_black;
			top: .8em;
			left: .75em;
			background: $cl_white;
			border-radius: 50%;
			padding: .5em;
			line-height: 1;
			box-shadow: 0 0 .5em rgba(0,0,0,0.2);
		}
	}
}
.feature.is-collapsed .feature__header.is-clickable:before {
	content: "═";
}

.feature__footer {
	background-color: darken($cl_white,20%);
	color: $cl_white;
	font-size: .75em;
	text-align: right;
	border-radius: 0 0 .25em .25em;

	& a { 
		color: inherit; 
		text-decoration: none;
		display: inline-block;
		margin-left: 1em;
		&:focus,
		&:hover,
		&:active { color: darken($cl_white,30%); }
	}
}

.feature__prefix { display: none; }

.prefix-true .feature__header,
.prefix-false .feature__header {
	background-color: darken($cl_white,20%);
	color: $cl_black;
	position: relative;
	&:after {
		content: "";
		font-size: .75em;
		position: absolute;
		right: 1.25em;
		top: 1em;
		border-radius: .25em;
		padding: .25em .5em;
	}
}

.prefix-true .feature__header {
	background-color: $cl_prefix_true;
	@include linear-gradient($cl_prefix_true, darken($cl_prefix_true,10%));
	&:after {
		content: "Use prefixes";
		background-color: darken($cl_prefix_true,20%);
		color: darken($cl_prefix_true,60%);
	}
}

.prefix-false .feature__header {
	background-color: $cl_prefix_false;
	@include linear-gradient($cl_prefix_false, darken($cl_prefix_false,20%));
	&:after {
		content: "No prefixes!";
		background-color: lighten($cl_prefix_false,7%);
		color: darken($cl_prefix_false,50%);
	}
}

[role="contentinfo"] {
	margin: 1em 0 0 0;
	padding: 1em;
	border-top: 1px solid lighten($cl_black,60%);
	text-align: center;
}

@media only screen and (max-width: 480px) {
	h1 { font-size: 1.5em; }
	h2 { font-size: 1.25em; }
	.search { width: 90%; }
	.feature__footer a { margin-left: .3em; }
}
@media only screen and (max-width: 320px) {
	html { font-size: 87.5%; }
	h1,	h2 { font-size: 1.5em; }
	.feature__footer a { margin-left: .2em; }
	.feature__header:after { display: none; }
}

