<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{page.pagetitle}}</title>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

		  Design & Development by David Hund of Valued Standards:
		  _____________________________________________________________

		  W: http://valuedstandards.com
		  E: david [AT] valuedstandards [DOT] com
		  T: @valuedstandards
		  T: @davidhund

		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


		<meta name="author" content="David Hund - Valued Standards"/>
		<link rel="author" href="https://plus.google.com/u/0/117376077765230391641/posts"/>
		<meta name="description" content="{{page.description}}">

		<!-- Microsoft’s insane IE9+ pinned site syntax: <msdn.microsoft.com/library/gg131029> -->
		<meta name="application-name" content="http://shouldiprefix.com" />
		<meta name="msapplication-starturl" content="http://shouldiprefix.com" />
		<meta name="msapplication-window" content="width=1024;height=600" />
		<meta name="msapplication-navbutton-color" content="#DDF7FF" />
		<!-- Windows 8 Tile icon / colour -->
		<meta name="msapplication-TileImage" content="/metro-tile.png" />
		<meta name="msapplication-TileColor" content="#DDF7FF" />

		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/js/vendor/prism.css">

		<script>with(document.documentElement){className=className.replace(/\bno-js\b/,'js')}</script>

		<!--[if lt IE 9]><script src="/static/js/vendor/html5shiv.js"></script><![endif]-->
	</head>
	<body class="language-css">

		<header role="banner">
			<p class="lastmod">{{site.time | date:"%d/%m/%y"}} | <a href="http://valuedstandards.com">@valuedstandards</a> |  <a href="https://github.com/davidhund/shouldiprefix/">Help me!</a></p>
		</header>

		{{content}}

		<footer role="contentinfo">
			<p>A Thing by <a href="http://valuedstandards.com">David Hund</a> — <a href="http://twitter.com/valuedstandards">@valuedstandards</a></p>
			<p><em>Please help</em>: <a href="https://github.com/davidhund/shouldiprefix/">Github</a> | <a href="https://github.com/davidhund/shouldiprefix/issues">Issues</a></p>
			<p><a href="#">Top</a></p>
		</footer>

		<script src="/static/js/vendor/all.min.js"></script>
		<script src="/static/js/main.js"></script>

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-5040498-10']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>
