<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{page.pagetitle}} | [SITE]</title>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

		  Design & Development by David Hund of Valued Standards:
		  _____________________________________________________________

		  W: http://valuedstandards.com
		  E: david [AT] valuedstandards [DOT] com
		  T: @valuedstandards
		  T: @davidhund

		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


		<meta name="author" content="David Hund - Valued Standards"/>
		<link rel="author" href="https://plus.google.com/u/0/117376077765230391641/posts"/>
		<meta name="description" content="{{page.description}}">

		<!-- Microsoft’s insane IE9+ pinned site syntax: <msdn.microsoft.com/library/gg131029> -->
		<meta name="application-name" content="[SITE]" />
		<meta name="msapplication-starturl" content="[SITE-URL]" />
		<meta name="msapplication-window" content="width=1024;height=600" />
		<meta name="msapplication-navbutton-color" content="#222" />
		<!-- Windows 8 Tile icon / colour -->
		<meta name="msapplication-TileImage" content="/metro-tile.png" />
		<meta name="msapplication-TileColor" content="#222" />

		<link rel="stylesheet" href="/static/css/main.css">

		<script>with(document.documentElement){className=className.replace(/\bno-js\b/,'js')}</script>

		<!-- <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script> -->
		<!--[if lt IE 9]><script src="/static/js/vendor/html5shiv.js"></script><![endif]-->
	</head>
	<body>

		<h1>{{title}}</h1>

		{{content}}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
		<script src="/static/js/main.js"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<!-- 
		<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
		-->
	</body>
</html>
